:root {
  --bg-color: #d9cdf7;
  --text-color: #271a45;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: var(--bg-color);
}

body * {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Crismson Pro";
}

#btn-360,
#btn-close {
  display: none;
}

#app {
  display: flex;
  border: 1px solid red;
  height: 100vh;
}

#animated {
  display: none;
}

.product-details {
  align-items: center;
}
