* {
  margin: 0;
  border: 0;
  padding: 0;
}

:root {
  --bg-color: #d9cdf7;
  --text-color: #271a45;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  display: grid;
  place-content: center;
}

body * {
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Crismson Pro";
}

#btn-close {
  display: none;
}

#app {
  display: flex;
  align-items: center;
  gap: 63px;
}

#animated {
  display: none;
}

#product-image {
  position: relative;
}

#product-image button {
  position: absolute;
  right: 0;
}

#product-image > img {
  width: 449px;
  height: 222px;
  object-fit: cover;
}

.product-details {
  /* align-items: center; */
}
